body{
margin:0;
padding:0;
background: url(xyz2.jpg);
background-size:cover;
background-position:center;
font-family:sans-serif;
}
a{
background-color:powderblue;
margin:8px;
padding:8px;
font-family:sans-serif;
} 
.loginbox{
width:320px;
height:500px;
background:#000000;
color:#fff;
top:50%;
left:50%;
position:absolute;
box-sizing:border-box;
transform:translate(-50%,-50%);
padding:70px 30px;
}
.loginbox input{
width:100%;
margin-bottom:20px;
}
.loginbox input[type="text"] , input[type="password"]
{
border:none;
border-bottom:1px solid #fff;
outline:none;
background:transparent;
height:40px;
color:#fff;
}
.loginbox input[type="submit"]
{

border:1px;
border-bottom:1px solid #fff;
outline:2px;
background:#ffffff;
color:#00ff00;
font-size:20px;
height:40px;
}
.loginbox input[type="submit"]:hover
{
cursor:pointer;
background:#ffc107;
color:#000000;
}
.loginbox a
{ 
color:blue;
background-color:powderblue;
margin:4px;
padding:4px;
font-family:sans-serif;
}

.loginbox a:hover
{
color:white;

}









